* {
    box-sizing: border-box;
}
:root {
    font-size: 1.0rem;
    font-family: Verdana, Tahoma, sans-serif, system-ui;
}
body {
    background-color: pink;
    margin: auto;
}

.container {
    display: flex;
    background-image: url(../Pics/ales-krivec-N-aTikX-b00-unsplash.jpeg);
    background-size: cover;
    background-position: 30%;
}

.left_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: max(30vw, 60rem);
    min-height: 100vh;

    /* background-image: url(../Pics/ales-krivec-N-aTikX-b00-unsplash.jpeg);
    background-size: cover;
    background-position: 30%; */
}

.hero_left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max (20vh, 5rem);
    background-color: rgba(24, 37, 118, 0.218);
}

#odin_logo {
   width: 8rem;
   padding: 10px;
    
}

.photo_origin {
    align-self: flex-end;
    padding-right: 2rem ;
    justify-self: flex-end;
    color: azure;
    
}

.right_side {
    min-width: 60vw;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.right_side>* {
    display: flex;
    flex: 1;
    padding-left: min(2vw, 4rem);
}

.top, .bottom {
    /* background-color: rgba(239, 239, 239, 0); */
    flex-grow: 2;
    flex-direction: column;
    justify-content: flex-end;
}
.top > p {
    max-width: 60vw;
}
form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgba(234, 237, 240, 0.497);
    box-shadow: 0px 8px 12px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 8px 12px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 8px 12px 1px rgba(0,0,0,0.15);
    position: relativ;
    z-index: 10;
}
legend {
    font-size: 1.2rem;
    margin-left: 0px;
    padding-left: 0px;
}

form > p {
    font-size: 0.8rem;
    padding-bottom: 0rem;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0;

}

fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex: 1;
    gap: 2rem;
    max-width: 50rem;
    margin-left: 0px;
    padding-left: 0px;
    border: 0;
}   
fieldset > span {
    font-size: 0.1rem;
}

label {
    display: flex;
    font-size: 1rem;
    flex-wrap: wrap;
    gap: 0.2rem;
    width: 13rem;
}
input {
    border-color: ;
    appearance: none;
    font-size:  1.1rem;
    border-radius: 5px;
}

input:focus, input:hover {
    border-color: blue;
    box-shadow: 10 px 1px 1px 3px black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.bottom {
    justify-content: flex-start;
    align-items: flex-start;
}

.bottom :first-child  {
    margin-top: 2rem;
}

.bottom button {
    background-color: white;
    font-size: 1.2rem;
    border-radius: 6px;
    padding: 0.8rem;
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.1);
}

.bottom p span {
    font-weight: bold;
}


